version: '3'
services:
  node:
    build: .
    platform: linux/x86_64
    tty: true
    ports:
      - "0.0.0.0:5001:3000"
    env_file:
      - .env
    volumes:
      - ".:/app"
    working_dir: /app
    command: yarn dev
    networks:
      - default
      - sample-shared
    environment:
      npm_config_target_arch: x64
networks:
  sample-shared:
    external: true